body {
  margin: 0px;
}

/* swap the fullscreen and source selector buttons */
.vjs-fullscreen-control {
  order: 2;
}
.vjs-http-source-selector {
  order: 1;
}

/* make the source selector icon a little bigger */
.vjs-icon-cog:before {
  font-size: 1.3em;
}
